{% if site.twitter_user %}
<section>
  <h1>Girdog being Girdog</h1>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/girdog" data-widget-id="378744614900858880">Tweets by @girdog</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
{% endif %}
