// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header[role='banner'] {
  height: 408px;
  background: url('/images/header_gir.jpg');
  padding: 0;
}

header[role='banner'] hgroup {
  visibility: hidden;
}

h1 {
  text-transform: uppercase;
}

.entry-content p {
  line-height: 1.1em;
}

.byline ~ .tags:before {
  @extend .separator;
}

.tags, .tags a {
  color: #888;
  font-size: 0.9em;
}